<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="robots" content="" />
	<title>방문자 관리시스템 : 세아제강</title>
	<!-- 테스트 중인 CSS -->  
	<link href="/css/common.css" rel="stylesheet" type="text/css" />
	<link href="/css/layout.css" rel="stylesheet" type="text/css" />
	<link href="/css/style2.css" rel="stylesheet" type="text/css" />
	<link href="/css/reset.css" rel="stylesheet" type="text/css" />
	<link href="/css/etc.css" rel="stylesheet" type="text/css" />
    <link href="/css/register.css" rel="stylesheet" type="text/css" />
    <script src="/js/home/login.js" defer></script>

    </head>
<body>
    <div id="wrap">
		<header id="header">
			<h1><a href="/"><img width="10%" src="./images/VNTG_wh2.png" alt="세아" /><span>방문자 관리</span></a></h1>
			
			<nav id="gn">
				<ul>
					<li><a href="/login"><span>방문신청</span></a></li>
					<li><a href="visitor.html"><span>방문신청조회</span></a></li>
					
				</ul>
			</nav>
		</header>
		<div id="content_area" class="main_bg">

			<div class="main_cnt">
				<div class="login-page">
                    <div class="form">
                      <form class="login-form">
                        <input id="id" type="text" placeholder="아이디"/>
                        <input id="name" type="text" placeholder="이름"/>
                        <input id="psword" type="text" placeholder="비밀번호"/>
                        <input id="confirm-psword" type="text" placeholder="비밀번호 확인"/>
                        <button>회원가입</button>
                        <p class="message"><a href="/login">로그인</a></p>
                      </form>
                    </div>
                  </div>
			</div>
		</div>
		<footer id="footer">
			<div class="foot_logo"><img width="30%" src="./images/VNTG_wh2.png" alt="세아제강" /></div>
			<div class="foot_copyright">
				<!-- <a href="#n" class="">개인정보처리방침</a>  
				Copyright &copy; 2009 by HYOSUNG. All rights reserved-->
			</div>
		</footer>
	</div>
</body>
</html>
<!-- Copyright (c) 2022 by Aigars Silkalns (https://codepen.io/colorlib/pen/rxddKy) -->
